@page
@model DistributorsModel


<form method="post" style="display: flex;  align-items: center;">
    <div class="form-group">
        <select id="dateSelector" name="selectedDate" class="form-control" style="margin-right: 10px; ">
            <option value="">---Wybierz datę aktualizacji która zostanie usunięta---</option>
            @foreach (var date in Model.DatesActualizations)
            {
                <option value="@date">@date</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Usuń</button>
    </div>

</form>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>Lista Dystrybutorów</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var distributor in Model.Distributors)
        {
            <tr>
                <td><a asp-page="/DistributorDetails" asp-route-DistributorName="@distributor.Name">@distributor.Name</a></td>
            </tr>
        }
    </tbody>
</table>
